/*Globales*/
*{
    margin:auto;
    padding: 0;
    box-sizing: border-box;
    
}

section{
    width:100%
}

h2{
    text-shadow: 10px 5px 5px #aaa;
}

/*Sección 1*/

.clase1{
background-color: aqua;
height:300px;

}

.clase1 div{
width:30%;
background-color: burlywood;
margin-top: 100px;
border-radius: 10px;
display: inline-block;
padding:10px;
box-shadow: 20px 10px 10px #aaa, inset -30px -30px 20px #f00;
transition: transform 2s,background-color 1s, color 1s, width 1s;
}

.clase1 div:hover{

    transform: rotate(-12deg);
    background-color: lawngreen;
    color: white;
    width:40%;
}
.clase1 div ul{
    list-style: none;
    display:flex;
    

}
.clase1 div a{
text-decoration: none;
font-size: 20px;
color: cornflowerblue;
}


/*Sección 2*/

.clase2{
    background-color: rgb(34, 160, 23);
    height:300px;
}

 .clase2 div{
    width:30%;
    background-color: rgb(216, 140, 40);
    margin-top: 100px;
    margin-left:5%;
    border-radius: 10px;
    display: inline-block;
    padding:10px;
    animation-name: animacion1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

 }

 @keyframes animacion1 {
    from {
      margin-left:5%;
      background-color:#ddd;
    }
    to {
      margin-left:40%; 
      background-color:#ff0;
    }
  }

